*.c
*.elf
*.js
*.js.map
*.plist
*.res
*.sublime-project
*.sublime-workspace
.nyc_output
.vscode/.browse.*
.vscode/c_cpp_properties.json
coverage
lerna-debug.log
lib
node_modules
tests/coverage
tests_esp
ts2c.bundle.js
yarn-error.log