*.c
*.elf
*.js
*.js.map
*.plist
*.res
*.sublime-project
*.sublime-workspace
.vscode/.browse.*
.vscode/c_cpp_properties.json
node_modules
tests/coverage
lib
tests_esp
ts2c.bundle.js
lerna-debug.log
yarn-error.log